Repository SKF/ferris, pull requests merged in 2021-05, with the labels that each got.

#38 Primary button
  .storybook/preview.js
  .stylelintrc
  index.ts
  src/button/button.register.ts
  src/button/button.stories.ts
  src/button/button.test.ts
  src/button/button.tokens.ts
  src/button/button.ts
  src/hello-world/hello-world.register.ts
  src/hello-world/hello-world.stories.ts
  src/hello-world/hello-world.test.ts
  src/hello-world/hello-world.ts
Labels: button, component, enhancement

#42 8 button secondary
  package.json
  src/button/button.primary.stories.ts
  src/button/button.secondary.stories.ts
  src/button/button.stories.ts
  src/button/button.test.ts
  src/button/button.tokens.ts
  src/button/button.ts
Labels: button, enhancement

#68 Stylelint ignore
  .stylelintignore
  .stylelintrc
  package.json
Labels: project structure

#71 Button test
  .eslintrc.json
  .github/workflows/ci.yaml
  docs/adr/004-yarn-and-testing-library.md
  jest.config.js
  package.json
  src/components/button/Button.test.tsx
  src/components/button/Button.tsx
  tsconfig.json
  yarn.lock
Labels: component/button, documentation, project structure
